#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    header {
        text-align: center;
    }

    h1 {
        color: var(--primary-color);
    }

    .information {
        box-sizing: border-box;
        color: var(--second-text-color);
        border-radius: 1rem;
        border-color: solid;
        flex-direction: column;
        width: 90%;

        span {
            display: flex;
            flex-direction: column;
            padding: var(--py-esm);
        }

        .actions {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
        }
    }
}

@media (width >=1180px) {

    #register {
        .information {
            width: 30%;
        }
    }

}